.post-card {
    box-shadow: none;
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: calc(100% - 20px);

    ion-card-header {
        background: #FFD6CB;
        padding: 12px 19px;
    }

    .card-body {
        border-radius: 0px 0px 10px 10px;
        border: 1px solid #DAD8D8;
        background: #FFF;

        ion-card-content {
            padding-inline-start: 0px;
            padding-inline-end: 0px;
            padding-top: 0px;
            padding-bottom: 0px;

            .text-area {
                border: none;
                color: #A1A1A1;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: 0.2px;
                padding: 0 16px;
            }

            ion-textarea {
                padding: 0;
            }
        }

        .card-footer {
            padding: 10px 15px;

            .action-button {
                border-radius: 24px;
                background: var(--main-color, #F04E23);
                --box-shadow: none;
                --border-radius: 30px;
                color: #FFF;
                font-size: 16px;
                font-weight: 500;
                line-height: 31px;
                min-height: 10px;
                margin: 0;
                margin-left: auto;
                --padding-start: 38px;
                --padding-end: 38px;
                margin-left: 10px;
            }

        }
    }
}

ion-img{
    width: 100px;
}

ion-footer{
    bottom: 10%;
}

.send-icon {
    width: 15px;
    position: absolute;
    right: 16px;
    top: 39%;
    z-index: 2;
    padding: 0;
}

.inputChat {
    text-align: left;
    width: 100%;
    position: relative;

    ion-input {
        --color: #000000;
        --border-color: transparent;
        --background: #ffffff;
        --inner-padding-top: 0;
        --highlight-height: 0px;
        --placeholder-color: rgba(9, 9, 9, 0.6) !important;
        --placeholder-font-weight: 500;
        --padding-start: 17px;
        --padding-end: 40px;
        --padding-bottom: 10.5px;
        --padding-top: 10.5px;
        border-radius: 6px;
        font-weight: 300;
        font-size: 18px;
        line-height: 14px;
        min-height: 65px;
        --border-radius: 6px;
        color: rgba(9, 9, 9, 0.6);
        width: 100%;
    }
}

.card{
    width: 90%;
}

.wrapper-com{
    display: flex;
width: 100%;
gap: 10px
}
.wrapper-com .name-com{
    font-size: 16px !important;
}