.container {
    --padding-bottom: 50px;
    --background:#FFFDFC;
}

.login_center {
    padding: 2vh 30px 2vh 30px;
}

ion-footer {
    background: #FFFFFF;
    box-shadow: 0px -14px 20px rgba(0, 0, 0, 0.05);
    border-radius: 18px 18px 0 0;
    padding: 50px 0;
}