<ion-tabs class="ion-tabs">
  <ion-tab-bar slot="bottom" class="menu-main">
    <ion-tab-button tab="home">
      <ion-icon src="/assets/icon/menu-home.svg" class="grey" aria-hidden="true" name="triangle"></ion-icon>
      <ion-icon src="/assets/icon/menu-home-white.svg" class="white" aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon src="/assets/icon/menu-bell.svg" class="grey" aria-hidden="true" name="triangle"></ion-icon>
      <ion-icon src="/assets/icon/menu-bell-white.svg" class="white" aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon src="/assets/icon/menu-block.svg" class="grey" aria-hidden="true" name="triangle"></ion-icon>
      <ion-icon src="/assets/icon/menu-block-white.svg" class="white" aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="/assets/icon/menu-user.svg" class="grey" aria-hidden="true" name="triangle"></ion-icon>
      <ion-icon src="/assets/icon/menu-user-white.svg" class="white" aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="inbox">
      <ion-icon src="/assets/icon/menu-paper.svg" class="grey" aria-hidden="true" name="triangle"></ion-icon>
      <ion-icon src="/assets/icon/menu-paper-white.svg" class="white" aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
